<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block styles %}
    <!-- Load Bootstrap-Flask CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>
<div class="px-4 py-5  text-center">
    <div><h1>Upload an Image</h1></div>
    {% if errors %}
    <div>
        {{ errors }}
    </div>
    {% endif %}
    <form method="POST" action="/" enctype="multipart/form-data">
        <div class="container col-4">
            <input type="file" class="form-control text-center border border-dark my-5" name="image_file"
                   accept="image/*" required>
        </div>

        <button type="submit" class="btn btn-dark mb-3">Upload</button>
    </form>
    {% if image_to_render %}
    <img src="{{ image_to_render }}" style="max-width: 500px;">
    {% endif %}
</div>
{% if colors: %}
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Most Common Colors</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for color in colors: %}
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="{{ color }}"
                     class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </div>
            <div>
                <h2>{{ color }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
</body>
</html>