<!DOCTYPE html>
{%include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
</head>
<body>
{% for product in products: %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" src="{{ product['img'] }}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product["name"] }}</h5>
                <p class="card-text"><small class="text-body-secondary">{{ product["quantity"] }}</small></p>
                <p class="card-text">${{ product["total"] }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<a type="button" class="btn btn-danger" href="{{url_for('clear_checkout') }}">Clear</a>
<a type="button" class="btn btn-warning" href="{{url_for('create_checkout_session')}}">Checkout</a>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>